<ion-view view-title="Postlist">
  <ion-content>
         <ion-item class="item card-item" ng-repeat="post in postlist" href="#/app/postlist/{{post.slug}}">
            <div class="card stable-bg ink ink-dark">
                <div class="item item-avatar item-text-wrap">
                    <img class="avatar" ng-src="{{post.author.photo.url}}" alt="Profile"></img>
                    <strong> {{post.author.name.first}}</strong> posted: {{post.title}} 
                    <img class="image" ng-src="{{post.image.url}}">
                    <div class="card-footer text-right">
                        <i class="icon ion-chatbubbles positive"></i> {{commentvalue}} 
                        <div class="pull-left"> 
                            <i class="icon ion-clock"></i> {{post.publishedDate | date:'MMM d h:mm a'}} 
                        </div>
                    </div>
                </div>
            </div>
        </ion-item>
  </div>
</ion-view>