<!doctype html>
<html ng-app="teamlink">
  <head>
    <link href="/styles/site.min.css" rel="stylesheet">
    
    <script src="/js/lib/angular/angular.min.js"></script>
    <script src="/js/lib/angular-route/angular-route.min.js"></script>
    <script src="/js/lib/angular-resource/angular-resource.min.js"></script>

    <script src="/js/app/app.js"></script>
    
    <script src="/js/app/home/homeController.js"></script>
    <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/0.10.0/ui-bootstrap-tpls.min.js"></script>
    
    <script src="/js/app/post/postController.js"></script>
    <script src="/js/app/post/postService.js"></script>

    <script src="/js/app/document/documentController.js"></script>
    <script src="/js/app/document/documentService.js"></script>
    
    <script src="/js/app/task/taskController.js"></script>

    <script src="/js/app/tasklist/tasklistController.js"></script>
    <script src="/js/app/tasklist/taskService.js"></script>
  </head>
  <body>
    <div ng-controller="HomeController">

      <div>
        <div ng-view></div>
      </div>

      <div class="container">
      <div id="footer">
        <!--p Powered by <a href="http://keystonejs.com" target="_blank">KeystoneJS</a>.-->
        <p>SCHINDLER DTF Mobility</p>
      </div>
      </div>

    </div>
  </body>
</html>